#buttons-row {
  padding: 0 25px;
}

#buttons-row paper-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  background-color: var(--secondary-text-color);
  opacity: 0;
  transition: opacity 160ms ease-in-out;
}
#buttons-row paper-button:focus::after,
#buttons-row paper-button:hover::after {
  opacity: 0.1;
}
#clear-btn::after {
  background-color: #f44336 !important;
}

sp-player:focus::after,
sp-player:hover::after {
  opacity: 0.3;
}
sp-player:focus, sp-player:hover {
  z-index: 1;
}

#actions-row {
  max-width: 900px;
  margin: 0 auto;
  height: 70px;
  padding: 0 22px;
}
#actions-row > paper-button {
  background-color: var(--white-color);
  padding: 0 10px 0 8px;
  height: 36px;
  margin: 0 6px;
  width: 120px;
  transition: color 130ms ease-in-out, background-color 130ms ease-in-out;
}
#actions-row > paper-button > iron-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;
  color: var(--secondary-text-color);
  transition: color 130ms ease-in-out;
}
#actions-row > paper-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2px;
  opacity: 0.3;
  transition: opacity 130ms ease-in-out;
  box-shadow:
    0 12px 17px 2px rgba(0,0,0,0.14),
    0  5px 22px 4px rgba(0,0,0,0.12),
    0  7px  8px 0   rgba(0,0,0,0.2);
}
#actions-row > paper-button:focus::after,
#actions-row > paper-button:hover::after {
  opacity: 0.6;
}
#actions-row > paper-button[active]::after {
  opacity: 1;
}
#actions-row > paper-button[active] {
  background-color: var(--primary-color);
  color: white;
}
#actions-row > paper-button[active] > iron-icon {
  color: white;
}