.hidden {
  display: none !important;
}

paper-button {
  font-weight: 500 !important;
}

paper-toast > paper-button {
  color: var(--accent-color);
  position: absolute;
  top: 6px;
  bottom: 6px;
  height: 36px;
  right: 24px;
  margin: auto 0;
  min-width: unset;
}

paper-dialog {
  border-radius: 2px;
  overscroll-behavior: none;
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0  0   46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px 0   rgba(0, 0, 0, 0.1);
}

input[type="file"] {
  display: none;
}

#circle {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none !important;
}

#circle.no-animation {
  animation: none;
}

#circle.finishing-animation {
  animation: none;
  transition: transform 200ms ease-in;  
}

#upload-icon {
  width: 50%;
  height: 50%;
  fill: var(--primary-color);
  opacity: 1;
  transition: opacity;
  transition-duration: 250ms;
  transition-delay: 50ms;
}
#upload-icon.exit {
  transition-delay: 0ms;
  transition-duration: 180ms;
}
#upload-icon-arrow {
  transform: none;
  transform-origin: bottom;
  transition: transform;
  transition-duration: inherit;
  transition-timing-function: inherit;
  transition-delay: 0ms;
}
#upload-icon-deck {
  transform: translateY(9px);
}
#upload-icon.faded-out {
  opacity: 0;
}
#upload-icon.faded-out > #upload-icon-arrow {
  transform: translateY(100%) scale(0.5);
}
#upload-icon.faded-out.exit > #upload-icon-arrow {
  transform: translateY(-100%) scale(1.5);
}

#clear-all-dialog paper-button[dialog-confirm] {
  color: #f44336;
}

@media (orientation: landscape) and (max-width: 600px),
       (orientation: portrait) and (max-width: 960px) {

  #dragndrop {
    display: none !important;
  }
  
  paper-dialog.bottom-sheet {
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0 !important;
    right: 0;
    top: unset !important;
    max-width: unset !important;
    max-height: unset !important;
    border-radius: 0;
  }

}