#circle.error {
  background-color: #ffcdd2;
  color: #b71c1c;
  font-size: 1.5em;
}

#circle.noidb:after {
  content: "Your browser doesn't support IdenxedDB :(";
}

#circle[tabindex="0"]:hover,
#circle[tabindex="0"]:focus {
  outline: none;
  transform: scale(1.05);
}

sp-shell {
  width: 100vw;
  min-height: 100vh;
}

input[type="file"] {
  display: none;
}

#uploadIcon {
  transition: opacity 220ms 80ms;
  height: 50%;
  width: 50%;
  opacity: 0;
  fill: var(--primary-color);
}

#uploadIcon.show {
  opacity: 1;
}

#uploadIcon g path {
  animation-fill-mode: none;
}

#uploadIcon g.enter-animation path {
  animation: 250ms ease-out 0s zoom-in;
  transform-origin: bottom;
}

#uploadIcon g.enter-animation path:nth-of-type(2) {
  animation: 250ms ease-out 0s arrow-enter;
}

@keyframes arrow-enter {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#uploadIcon g.exit-animation path {
  animation: 250ms ease-out 0s zoom-out;
  transform-origin: bottom;
  animation-fill-mode: forwards;
}

#uploadIcon g.exit-animation path:nth-of-type(2) {
  animation: 250ms ease-out 0s arrow-exit;
}

@keyframes arrow-exit {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* Desktop styles */
@media (min-width: 601px) and (orientation: portrait),
       (min-width: 961px) and (orientation: landscape) {
  
  #uploadIcon {
    fill: rgba(0,0,0,0.54);
  }
  
}

paper-button {
  font-weight: 500;
}
   
#clearAllDialog [dialog-confirm] {
  color: #f44336;
}