.toolbar {
  padding-right: 20px !important;
}
paper-icon-button[icon="uploader:done"] {
  display: block !important;
}

#card {
  margin: 8px 0 !important;
}

.table-left-icons {
  width: 88px !important;
  padding-left: 22px !important;
}
.table-left-icons > :first-child {
  display: block !important;
  margin-right: 22px !important;
  opacity: 0.2 !important;
}

.list-item .table-right-buttons {
  opacity: 0.3 !important;
  transition: opacity 160ms ease-in-out !important;
}
.list-item:focus .table-right-buttons,
.list-item:focus-within .table-right-buttons,
.list-item:hover .table-right-buttons {
  opacity: 1 !important;
}

.table-right-buttons [icon="uploader:bin"] {
  display: block !important;
}

paper-fab {
  display: none !important;
}