#add-audio-dialog-container {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  overscroll-behavior: none;
}

.uaad-grid {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-auto-rows: 100px;
  grid-gap: 2px;
}
.uaad-tile {
  background-color: var(--background-color);
  border-radius: 0;
  margin: 0;
  flex-direction: column;
  --paper-button-ink-color: rgba(0,0,0,0.5);
  text-transform: none;
}
.uaad-tile sp-preview-player {
  opacity: 0.7;
  z-index: 2;
}
.uaad-tile span {
  opacity: var(--primary-opacity);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.uaad-big-icon {
  height: 32px;
  width: 32px;
}

@media (orientation: landscape) and (max-width: 600px),
       (orientation: portrait) and (max-width: 960px) {

  #add-audio-dialog {
    position: absolute;
    bottom: unset !important;
    margin-top: 70vh;
  }
  
  .uaad-grid {
    grid-template-columns: repeat(3, 1fr);
  }

}